{namespace dev=KayStrobach\DevelopmentTools\ViewHelpers}

<f:layout name="Bootstrap" />

<f:section name="Title">Translations</f:section>

<f:section name="Content">
	<nav class="navbar navbar-default" data-offset="70">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Tools</a>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<f:form action="clearAll" class="navbar-form navbar-left">
				<f:form.button type="submit" class="btn btn-default" title="Clear Label Cache">
					<span class="glyphicon glyphicon-trash"></span>
					Clear Label Cache
				</f:form.button>
			</f:form>
		</div>
	</nav>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>PackageKey</th>
				<th>LabelId</th>
				<th>Label</th>
				<th>Arguments</th>
				<th class="text-center">in xlf?</th>
			</tr>
		</thead>
		<f:for each="{translationLabels}" as="translationLabel">
			<tr class="{f:if(condition: '{translationLabel.availableinXliffForLocaleEn}', then: 'success', else: ' danger')}">
				<td>
					<small>{translationLabel.packageKey}/Resources/Private/Translations/en/{translationLabel.sourceName}.xlf</small>
				</td>
				<td>{translationLabel.labelId}</td>
				<td>
					<f:if condition="{translationLabel.label}">
						<f:then>
							<span class="" title="original label">{translationLabel.label}</span>
						</f:then>
						<f:else>
							<span title="translated"><f:translate id="{translationLabel.labelId}" package="{translationLabel.packageKey}" source="{translationLabel.sourceName}" /></span>
						</f:else>
					</f:if>
				</td>
				<td>{translationLabel.arguments}</td>
				<td class="text-center">
					<f:form action="addToXliff" name="translationLabel" object="{translationLabel}">
						<f:if condition="{translationLabel.availableinXliffForLocaleEn}">
							<f:then>
								<span class="label label-success">
									<span class="glyphicon glyphicon-ok"></span>
								</span>
							</f:then>
							<f:else>
								<f:form.button type="submit" class="btn btn-xs btn-warning">
									<span class="glyphicon glyphicon-plus-sign"></span>
								</f:form.button>
							</f:else>
						</f:if>
					</f:form>
				</td>
			</tr>
		</f:for>
	</table>

</f:section>

<f:section name="Navigation">

</f:section>