{namespace dev=KayStrobach\DevelopmentTools\ViewHelpers}

<f:layout name="Bootstrap" />

<f:section name="Title">Domain Model</f:section>

<f:section name="Content">

	<div class="container">
		<script type="text/vnd.graphviz" id="uml">
			<f:format.raw>
				{graphdata}
			</f:format.raw>
		</script>
	</div>

	<script type="text/javascript" src="{f:uri.resource(path:'Contrib/viz.js/viz.js')}"></script>
	<script type="text/javascript">
		/* <![CDATA[ */
			function inspect(s) {
				return "<pre>" + s.replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/\"/g, "&quot;") + "</pre>"
			}

			function src(id) {
				return document.getElementById(id).innerHTML;
			}

			function example(id, format) {
				var result;
				try {
					result = Viz(src(id), format);
					if (format === "svg")
						return result;
					else
						return inspect(result);
				} catch(e) {
					return inspect(e.toString());
				}
			}

			document.body.innerHTML += '<div class="wrapper"><div class="panzoom-element">' + example("uml", "svg") + '</div></div>';
		/* ]]> */
	</script>

</f:section>

