{namespace dev=KayStrobach\DevelopmentTools\ViewHelpers}

<f:layout name="Bootstrap" />

<f:section name="Title">Development Tools</f:section>

<f:section name="beforeContent">
	<div class="jumbotron">
		<div class="container">
			<h1>
				DevelopmentTools <small>by Kay Strobach</small>
			</h1>
			<p>
				Welcome to the Development Tools.
			</p>
			<p>
				This toolset is designed to assist you building great Applications with TYPO3 Flow.
				If you miss a feature, please open an Issue on the github project.
			</p>

			<p class="text-center">
				<f:link.action action="index" controller="Command" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-wrench"></span><br>
					Commands
				</f:link.action>
				<f:link.action action="index" controller="Controller" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-dashboard"></span><br>
					Controller
				</f:link.action>
				<f:link.action action="index" controller="Model" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-th"></span><br>
					Model
				</f:link.action>
				<f:link.action action="index" controller="Translation" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-headphones"></span><br>
					Translation
				</f:link.action>
				<f:link.action action="index" controller="ViewHelper" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-search"></span><br>
					ViewHelpers
				</f:link.action>
			</p>
		</div>
	</div>
</f:section>